<launch>
  <arg name="GUI" default="false" />
  <include file="$(find hironx_ros_bridge)/launch/hironx_startup.launch" >
    <arg name="GUI" default="$(arg GUI)" />
    <arg name="LAUNCH_HRPSYSPY" value="false" />
    <arg name="REALTIME" value="false" />
  </include>

  <test type="test-hironx.py" pkg="hironx_ros_bridge" test-name="test_hironx" time-limit="1000"
        args="-ORBInitRef NameService=corbaloc:iiop:localhost:15005/NameService" />
  <test type="test-hironx-ik.py" pkg="hironx_ros_bridge" test-name="test_hironx_ik" time-limit="3000" 
        args="-ORBInitRef NameService=corbaloc:iiop:localhost:15005/NameService" />
</launch>
