<launch>
  <arg name="CONF_FILE_COLLISIONDETECT" default="$(find hironx_ros_bridge)/conf/hironx_realrobot_fixedpath.conf" />
  <arg name="corbaport" default="15005" />
  <arg name="MODEL_FILE" default="/opt/jsk/etc/HIRONX/model/main.wrl" /> <!-- This shouldn't be changed unless you know what you're doing -->
  <arg name="nameserver" default="hiro" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver):$(arg corbaport)" />
  <arg name="USE_ROBOTHARDWARE" default="true" />
  <arg name="USE_SERVOCONTROLLER" default="true" />
  <arg name="USE_IMPEDANCECONTROLLER" default="false"/>

  <node name="hrpsys_py" pkg="hironx_ros_bridge" type="hironx.py" output="screen"
        args="--host $(arg nameserver) --port $(arg corbaport) --modelfile $(arg MODEL_FILE) --robot RobotHardware" />

  <include file="$(find hironx_ros_bridge)/launch/hironx_ros_bridge.launch" >
    <arg name="CONF_FILE_COLLISIONDETECT" value="$(arg CONF_FILE_COLLISIONDETECT)" />
    <arg name="corbaport" default="$(arg corbaport)" />
    <arg name="MODEL_FILE" value="$(arg MODEL_FILE)" />
    <arg name="nameserver" value="$(arg nameserver)" />
    <arg name="USE_ROBOTHARDWARE" value="$(arg USE_ROBOTHARDWARE)" />
    <arg name="USE_SERVOCONTROLLER" value="$(arg USE_SERVOCONTROLLER)" />
    <arg name="USE_IMPEDANCECONTROLLER" value="$(arg USE_IMPEDANCECONTROLLER)"/>
  </include>
</launch>
