<launch>
  <arg name="GUI" default="true" />
  <arg name="model_file" default="$(find hironx_ros_bridge)/models/kawada-hironx.dae" />
  <include file="$(find hironx_ros_bridge)/launch/hironx_startup.launch" >
    <arg name="GUI" default="$(arg GUI)" />
  </include>
  <include file="$(find hironx_ros_bridge)/launch/hironx_ros_bridge.launch" >
    <arg name="nameserver" value="localhost" />
    <arg name="MODEL_FILE" value="$(arg model_file)" />
    <arg name="SIMULATOR_NAME" value="HiroNX(Robot)0" />
  </include>
</launch>
